@import "variables.scss";
@import "mixins.scss";

.about {
	padding-top: 70px;
	.container {
		@media screen and (min-width: $tablet-small) {
			@include flex(space-between, center);
		}
	}
	&-inform {
		width: 100%;
		&-text {
			width: 100%;
			max-width: 527px;
			margin: 0 auto;
			padding-top: 20px;
			@media screen and (min-width: $tablet-small) {
				margin: 0;
			}
		}
	}
	&-image-wrapper {
		margin: 0 auto;
		margin-top: 20px;
		@media screen and (min-width: $tablet-small) {
			margin-top: 0;
		}
		@include image-container(619px, 348px)
	}

}