@import "variables.scss";
@import "mixins.scss";



.certificate{
	padding-top: 154px;
	.container {
		display: block;
		@media screen and(min-width: $tablet-small) {
			@include flex(space-between, normal);
			column-gap: 214px;
		}
	}
	&-list{
		@include flex(center, center);
		flex-direction: column;
		@media screen and (min-width: $tablet-small) {
			width: 100%;
			flex-direction: row;
			column-gap: 50px;
		}
		&-item{
			position: relative;
			@include flex(flex-end, center);
			flex-direction: column;
			max-width: 388px;
			width: 100%;
			min-height: 427px;
			border: 1px solid $light-border;
			border-radius: 10px;	
			margin-top: 70px;
			&:nth-child(2){
				padding-bottom: 40px;
			}
			@media screen and (min-width: $tablet-small) {
				margin: 0;
			}
			.figure {
				position: relative;
				width: 100%;
				height: 100%;
				border-radius: 10px;
				overflow: hidden;
				&-top {
					position: absolute;
					top: 0;
					right: 0;
					width: 0;
					height: 0;
					border-left: 231px solid transparent;
					border-right: 231px solid transparent;
					border-top: 226px solid $subject-t-color;
				}
			}
			.image-wrapper{
				position: absolute;
				top: -54;
				left: 50%;
				transform: translateX(-50%);
				@include image-container(245px, 357px);
				&.first {
					background: url("../images/certificate-a.jpg");
				}
				&.second {
					background: url("../images/certificate-b.jpg");
				}
			}
		}
	}
	&-description {
		max-width: 300px;
		width: 100%;
		min-height: 84px;
		padding: 20px;
	}
}