@import "variables.scss";
@import "mixins.scss";

.hero {
	overflow: hidden;
	background-color: #F0F0F0;
	.container {
		max-width: 1800px;
		position: relative;
		min-height: 561px;
		@include flex(center, center);
		@media screen and (min-width: 1600px){
			min-height: 900px;
		}
	}
	.hero-logo {
		@include image-container(344px, 188px);
		z-index: 30;
		.logo {
			width: 100%;
			height: 100%;
			fill: rgba(51, 51, 51, 0.9);
		}
	}
	.box {
		position: absolute;
		bottom: 0;
		left: 0;
		overflow: hidden;
		transform: rotate(0.125turn);
		&-inner {
			transform: rotate(-0.125turn) translateY(-20%);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	.box-1 {
		@media screen and (max-width: 960px) {
			width: 100%;
			height: 100%;
			left: 0;
			bottom: 0;
			transform: rotate(0turn) translate(0);
		}
		width: 100vw;
		height: 100vw;
		left: 55%;
		bottom: 45%;
		transform: rotate(0.125turn) translate(-25%, 50%);
		box-shadow: rgba(0, 0, 0, 0.1) 10px 10px 30px 10px;
		z-index: 2;
		@media screen and (min-width: 1440px){
			width: 1300px;
			height: 1300px;
			bottom: 25%;
		}
		.item-1 {
			@media screen and (max-width: 960px) {
				width: 100%;
				height: 100%;
				transform: rotate(0turn) translate(0);
				background-size: cover;
			}
			width: 100vw;
			height: 100vw;
			background-image: url("../images/hero-main-1x.png");
			transform: rotate(-0.125turn) translateY(25%);
			background-size: 100%;
			@media screen and (min-width: 1440px){
				width: 1700px;
				height: 1700px;
				transform: rotate(-0.125turn) translateY(-10%);
			}
		}
	}
	.box-2 {
		width: 25vw;
		height: 25vw;
		left: 5%;
		bottom: 10%;
		z-index: 4;
		@media screen and (min-width: 1250px){
			width: 350px;
			height: 350px;
		}

		.item-2 {
			width: 35vw;
			height: 35vw;
			background-image: url("../images/hero-1.jpg");
			transform: rotate(-0.125turn) translateY(-21%);
			@media screen and (min-width: 1250px){
				width: 500px;
				height: 500px;
			}
		}
	}
	.box-3 {
		width: 100%;
		max-width: 320px;
		height: 320px;
		inset: -15% auto auto 80%;
		z-index: 2;
		@media screen and (min-width: $desctop){
			inset: -10% auto auto 80%;
		}

		@media screen and (min-width: 1600px){
			inset: -10% auto auto 85%;
			width: 100%;
			max-width: 420px;
			height: 420px;
		}
		.item-3 {
			width: 453px;
			height: 453px;
			background: linear-gradient(to right, transparent 60%, white), url("../images/hero-2.png");
			transform: rotate(-0.125turn) translate(0%, 5%);
			@media screen and (min-width: 1600px){
				width: 590px;
				height: 590px;
				transform: rotate(-0.125turn) translate(0%, 5%);
			}
		}
	}
	.box-4 {
		width: 300px;
		height: 160px;
		inset: 0 25% auto auto;
		z-index: 2;
		@media screen and (min-width: 1250px){
			inset: 0 25% auto auto;
		}
		.item-4 {
			width: 500px;
			height: 360px;
			background-image: url("../images/hero-3.jfif");
			transform: rotate(-0.125turn) translateY(-15%);
		}
	}
	.box-5 {
		width: 400px;
		height: 400px;
		top: -80px;
    left: -20%;
		z-index: 2;
		transform: rotate(0.125turn);
		background: linear-gradient(225deg, rgba(17, 38, 58, 1) 60%, rgba(255, 255, 255, 0.9)) #11263A;
		@media screen and (min-width: 1250px){
			width: 500px;
			height: 500px;
			top: 0;
			left: -15%;
		}
	}
	.box-6 {
		width: 800px;
		height: 800px;
		left: -290;
		bottom: -400px;
		transform: rotate(0.125turn);
		background-color: #F0F0F0;
		box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 30px 10px;
	}
	.box-7 {
		width: 800px;
		height: 800px;
		left: auto;
		right: -390;
		bottom: -400px;
		transform: rotate(0.125turn);
		background-color: white;
		box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 30px 10px;
	}
	.box-gif {
		width: 100%;
		max-width: 220px;
		height: 220px;
		inset: auto auto 10% 70%;
		z-index: 2;
		@media screen and (min-width: 1600px){
			inset: auto auto 10% 80%;
		}
		.item-gif {
			width: 420px;
			height: 320px;
			background-color: aquamarine;
			transform: rotate(-0.125turn) translate(-15%, -35%);
		}
	}
	
}

.hidden{
	display: none;
	@media screen and (min-width: $tablet-small ){
		display: block;
	}
}

.desk-show {
	@media screen and (max-width: 1440px ){
		display: none;
	}
}