@import "variables.scss";
@import "mixins.scss";
@import "header.scss";
@import "hero.scss";
@import "about.scss";
@import "certificates.scss";
@import "staff.scss";

body {
	font-family: 'Roboto', sans-serif;
	@include font(18px, 400, 1.16, $dark-t-color);
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}
p {
	margin: 0;
}
.container-padding {
	padding: 0 30px;
}

.list{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.link {
	text-decoration: none;
	color: $nav-t-color;
}

.subject {
	position: relative;
	display: inline-block;
	@include font(24px, 700, 1.16, $subject-t-color);
	letter-spacing: 0.13em;
	text-transform: uppercase;
	&::after {
		content: " ";
		position: absolute;
		right: -145;
		bottom: 50%;
		width: 130px;
		height: 1px;
		background-color: black;
	}
}