@import "variables.scss";
@import "mixins.scss";

.liftCapacity {
	padding-top: 100px;
	min-height: 533px;
	.subjects {
		margin-bottom: 60px;
		margin-left: 30px;
		@media screen and (min-width: $tablet-small){
			display: block;
			width: 100%;
			max-width: 1080px;
			margin-bottom: 20px;
			margin-left: auto;
			margin-right: auto;
			text-align: right;
			&::after{
				margin-right: 10px;
			}
		}
	}
	.overlay {
		position: relative;
		@media screen and (min-width: $tablet-small){
			@include flex(space-between, normal);
			max-width: 1080px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.overlay-inner{
		width: 100%;
		min-height: 300px;
		margin-bottom: 180px;
		background-color: $subject-t-color;
		@media screen and (min-width: $mobile){
			width: 75%;
		}
		@media screen and (min-width: $tablet-small){
			width: 30%;
			min-width: 320px;
			max-height: 300px;
			margin-bottom: 0;
		}
	}
	&-text {
		position: absolute;
		top: -30px;
		left: 30px;
		padding-right: 30px;
		.crane-photo {
			@include image-container(442px, 182px)
		}
		.list {
			@include font(18px, 400, 1.5, $white-t-color);
			list-style-type: square;
			padding-left: 20px;
    	padding-top: 30px;
		}
	}
	&-image {
		position: absolute;
		bottom: -50%;
		left: 0;
		@include flex(space-around, center);
		width: 100%; 
		height: 100%;
		max-height: 180px;
		@media screen and (min-width: $tablet-small){
			position: static;
			width: 373px;
			max-height: none;
			flex-direction: column;
			justify-content: flex-start;
			row-gap: 15px;
		}
		&-item {
			height: 19vw;
			width: 25vw;
			@media screen and (min-width: $tablet-small){
				width: auto;
				height: 152px;
			}
		}
	}
}