@import "variables.scss";
@import "mixins.scss";

.capacity {
	padding-top: 100px;
	.container{
		width: 100%;
		max-width: none;
		display: inline-block;
		@media screen and (min-width: $tablet-small) {
			width: 50%;
		}
		min-height: 468px;
		.subjects-container{
			width: 100%;
			text-align: left;
			padding-left: 20px;
			@media screen and (min-width: $tablet-small) {
				text-align: left;
			}
			@media screen and (min-width: $desctop) {
				text-align: end;
				padding-right: 500px;
			}
		}
	}
	// .subjects {
	// 	max-width: 50%;
	// 	text-align: center;
	// 	@media screen and (min-width: $mobile) and (max-width: $desctop){
	// 		text-align: left;
	// 	}
	// 	@media screen and (min-width: $desctop){
	// 		text-align: center;
	// 	}

	// }
	&-list-container {
		position: relative;
		@include flex(baseline, center);
		flex-direction: column;
		background-color: $subject-t-color;
		margin-top: 30px;
		padding: 40px 20px 36px 20px;
		@media screen and (min-width: $mobile) and (max-width: $tablet-small){
			align-items: center;
			padding: 40px 58px 36px 20px;
		}
		@media screen and (min-width: $tablet-small) {
			align-items: flex-end;
			padding: 40px 198px 36px 20px;
		}
		
		.list-title {
			margin: 0;
			padding: 0;
			color: $white-t-color;
		}
		.wrapper {
			max-width: 386px;
			width: 100%;
			.list {
				padding-top: 10px;
				@include font(18, 400, 1.5, $white-t-color);
				.item::before {
					content: "---";
					padding-right: 5px;
				}
			}
		}
		.image-wrapper {
			padding-top: 20px;
			@media screen and (min-width: $mobile){
				padding-top: 0;
			}
			@media screen and (min-width: $tablet-small) {
				position: absolute;
				right: -351px;
				top: 30px;
				max-width: 488px;
				@include image-container(488px, 366px)
			}
		}
	}

}