@import "variables.scss";
@import "mixins.scss";

.slider {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 400;
	visibility: visible;
	opacity: 1;
	transition: all 250ms linear;
	&.is-hidden {
		visibility: hidden;
		opacity: 0;
	}
	&.scroll-on{
		overflow-y: scroll;
	}
}


.backdrop {
	position: relative;
	@include flex(space-between, center);
	width: 100%;
	height: 100%;
	padding: 0 20px;
	background-color: rgba(0, 0, 0, 0.9);
	.container-nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 70px;
		@include flex(flex-end, center);
		column-gap: 10px;
		padding-right: 20px;
		z-index: 300;
		background-color: rgba(0, 0, 0, 0.2);
	}
	.container-slider {
		display: flex;
		overflow: hidden;
		height: auto;
		background-color: transparent;
		@media screen and (min-width: $tablet-small) {
			height: 100%;
		}
		&.increase {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 100%;
			height: auto;
			transform: translate(-50%, -50%);
			z-index: 299;
			@media screen and(min-width: $desctop){
				top: 0;
				transform: translate(-50%, 0);
			}
		}
	}
}


.btn {
	background-color: transparent;
	border: none;
	border-radius: 50%;
	transition: all 250ms linear;
	@include flex(center, center);
	&.close {
		width: 50px;
		height: 50px;
		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
		&:focus {
			background-color: rgba(255, 255, 255, 0.2);
		}
		&:active {
			background-color: rgba(255, 255, 255, 0.4);
		}
	}
	&.change-slide {
		position: relative;
		width: 30px;
		height: 30px;
		z-index: 300;
		&:hover {
			transform: scale(1.1);
		}
		&:focus {
			transform: scale(1.1);
		}
		&:active {
			background-color: rgba(255, 255, 255, 0.4);
		}
	}
	&.scale {
		width: 50px;
		height: 50px;
		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
		&:focus {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
	&.hidden {
		display: none;
	}
}

.icon-slider {
	width: 60%;
	height: 60%;
	fill: white;
	pointer-events: none;
	&.slider-close {
		width: 60%;
		height: 60%;
	}
	&.slider-arrow {
		width: 100%;
		height: 100%;
		&.back {
			transform: rotate(180deg);
		}
	}
}


.animation{
	animation: changingImageAnim 1s ease 0s 1 normal;
}

@keyframes changingImageAnim {
	0% {
		transform: scaleX(0.9);
		opacity: 0;
	}
	50% {
		transform: scaleX(1);
	}
	100% {
		opacity: 1;
	}
}