$nav-t-color: #4F4F4F;
$subject-t-color: #11263A;
$dark-t-color: #000000;
$white-t-color: #F2F2F2;
$list-item-color: #333333;
$light-border: #CED6DE;

$white-color: #ffffff;

$mobile: 600px;
$tablet-small: 960px;
$desctop: 1250px;
$desctop-big: 1440px;