<section class="about">
	<div class="container container-padding">
		<div class="about-inform">
			<h2 class="subjects">About us</h2>
			<p class="about-inform-text">Rikona Keevitus OÜ has more than 10 years of experience in the production of metal structures for such areas as mechanical engineering, shipbuilding and construction. The company carries out installation and assembly of structures on-site. 
			</p>
		</div>
		<div class="about-image-wrapper">
			<img src="./images/about-img.jpg" class="img" alt="photo shows workers">
		</div>
	</div>
</section>