<section class="certificate">
	<div class="container container-padding">
		<div>
			<h2 class="subjects">Certificate</h2>
		</div>
		<ul class="certificate-list list">
			<li class="certificate-list-item">
				<div class="figure">
					<span class="figure-top"></span>
				</div>
				<div class="image-wrapper container-hover">
					<img src="./images/crt1.png" class="img" alt="first certificate" data-modal-open>
					<div class="inner-block-hover"></div>
				</div>
				<p class="certificate-description">In 2014, we received the CE certificate for the manufacture of metal products and their protection against corrosion.</p>
			</li>
			<li class="certificate-list-item">
				<div class="figure">
					<span class="figure-top"></span>
				</div>
				<div class="image-wrapper container-hover">
					<img src="./images/crt2.png" class="img" alt="second certificate" data-modal-open>
					<div class="inner-block-hover"></div>
				</div>
				<p class="certificate-description">We have a welding permit according to EN 3438</p>
			</li>
		</ul>
	</div>
</section>
