<section class="certificate" id="certificateSection">
	<div class="container container-padding">
		<div class="subjects-overlay">
			<h2 class="subjects">Certificate</h2>
		</div>
		<ul class="certificate-list list">
			<li class="certificate-list-item">
				<div class="figure">
					<span class="figure-top"></span>
				</div>
				<div class="image-wrapper container-hover"  data-modal-open>
					<img src="./images/crt1.png" class="img js-img" alt="first certificate">
					<div class="inner-block-hover"></div>
				</div>
				<p class="certificate-description">In 2014, we received the CE certificate for the manufacture of metal products and their protection against corrosion.</p>
			</li>
			<li class="certificate-list-item">
				<div class="figure">
					<span class="figure-top"></span>
				</div>
				<div class="image-wrapper container-hover"  data-modal-open>
					<img src="./images/crt2.png" class="img js-img" alt="second certificate">
					<div class="inner-block-hover"></div>
				</div>
				<p class="certificate-description">We have a welding permit according to EN 3438</p>
			</li>
		</ul>
	</div>
</section>

