<section class="certificate">
	<div class="container container-padding">
		<div>
			<h2 class="subject">Certificate</h2>
		</div>
		<ul class="list">
			<li class="item">
				<div class="figure-wrapper">
					<span class="figure-top"></span>
				</div>
				<div class="image-wrapper">
					<img src="./images/certificate-a.jpg" alt="CE certificate for the manufacture of metal products and their protection against corrosion" class="img">
				</div>
				<p class="description">In 2014, we received the CE certificate for the manufacture of metal products and their protection against corrosion.</p>
			</li>
			<li class="item">
				<div class="figure-wrapper">
					<span class="figure-top"></span>
				</div>
				<div class="image-wrapper">
					<img src="./images/certificate-b.jpg" alt="a welding permit according to EN 3438" class="img">
				</div>
				<p class="description">We have a welding permit according to EN 3438</p>
			</li>
		</ul>
	</div>
</section>