<footer class="contact" id="contactSection">
	<div class="container">
		<h2 class="subjects">Contact</h2>
		<ul class="contact-list list">
			<li class="contact-list-item">
				<svg class="contact-icon">
					<use href="./images/icons.svg#icon-location"></use>
				</svg>
				<div class="contact-text">
					<p class="contact-text-element">Rikona Keevitus OÜ</p>
					<p class="contact-text-element">reg: 12021830</p>
					<p class="contact-text-element">VAT: EE101433518</p>
					<p class="contact-text-element">Gaasi tn 6, 13816 Tallinn, Estonia</p>
				</div>
			</li>
			<li class="contact-list-item">
				<svg class="contact-icon">
					<use href="./images/icons.svg#icon-contacts"></use>
				</svg>
				<div class="contact-text">
					<p class="contact-text-element">Oleg Ablajev</p>
					<p class="contact-text-element">+372 5343 1614</p>
					<p class="contact-text-element">rikona@rikona.ee</p>
				</div>

			</li>
			<li class="contact-list-item">
				<svg class="contact-icon">
					<use href="./images/icons.svg#icon-envelope"></use>
				</svg>
				<div class="contact-text">
					<p class="contact-text-element">Meelis Vahl</p>
					<p class="contact-text-element">+372 5302 2063</p>
				</div>
			</li>
			<li class="contact-list-item">
				<svg class="contact-icon">
					<use href="./images/icons.svg#icon-envelope"></use>
				</svg>
				<div class="contact-text">
					<p class="contact-text-element">Aleks Salasin</p>
					<p class="contact-text-element">+358 400 515 824</p>
					<p class="contact-text-element">aleks.salasin@gmail.com</p>
				</div>
			</li>
			<li class="contact-list-item pictures">
				<img src="./images/animation2.gif" class="img" alt="work">
			</li>
		</ul>
	</div>
</footer>
