<section class="equipment" id="equipmentSection">
  <div class="container">
    <div class="equipment-card">
      <p class="equipment-title">&nbsp;equipment&nbsp;</p>
      <div class="equipment-text">
        <ul class="list equipment-list">
          <li>Plazma Cutting MultiCam 6000 (6000mm x 2500)</li>
          <li>Drilling machine 4 pcs</li>
          <li>Rolling</li>
          <li>Banding 3000mm</li>
          <li>Welding Machine 16 pcs</li>
          <li>Loader 2 t 2 pcs</li>
        </ul>
      </div>
    </div>
  </div>
</section>
