<header class="header">
	<div class="container container-padding">
		<div>
			<a class="link" href="">
				<svg class="logo-icon">
					<use href="./images/icons.svg#icon-logo"></use>
				</svg>
			</a>
		</div>
		<div class="buttons-container">
			<button class="mobil-button js-open-menu " aria-expanded="true" name="open">
				<svg class="mobil-icon">
					<use href="./images/icons.svg#icon-mobile-menu-open"></use>
				</svg>
			</button>
			<button class="mobil-button hide js-close-menu" aria-expanded="false" name="close">
				<svg class="mobil-icon">
					<use href="./images/icons.svg#icon-mobile-close"></use>
				</svg>
			</button>
		</div>

		
		<div class="mobil-container js-menu-container">
			<nav class="nav-site">
				<ul class="list">
					<li class="item">
						<a class="link" href="">About us</a>
					</li>
					<li class="item">
						<a class="link" href="">Certificate</a>
					</li>
					<li class="item">
						<a class="link" href="">Production Capacity</a>
					</li>
					<li class="item">
						<a class="link" href="">Staff</a>
					</li>
					<li class="item">
						<a class="link" href="">Equipment</a>
					</li>
					<li class="item">
						<a class="link" href="">Lift Capacity</a>
					</li>
					<li class="item">
						<a class="link" href="">References</a>
					</li>
					<li class="item">
						<a class="link" href="">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>