<header class="header">
	<div class="container container-padding">
		<div>
			<a class="link" href="">
				<svg class="logo-icon">
					<use href="./images/icons.svg#icon-logo"></use>
				</svg>
			</a>
		</div>
		<nav class="nav-site">
			<ul class="list">
				<li class="item">
					<a class="link" href="">About us</a>
				</li>
				<li class="item">
					<a class="link" href="">Certificate</a>
				</li>
				<li class="item">
					<a class="link" href="">Production Capacity</a>
				</li>
				<li class="item">
					<a class="link" href="">Staff</a>
				</li>
				<li class="item">
					<a class="link" href="">Equipment</a>
				</li>
				<li class="item">
					<a class="link" href="">Lift Capacity</a>
				</li>
				<li class="item">
					<a class="link" href="">References</a>
				</li>
				<li class="item">
					<a class="link" href="">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</header>