<section class="hero">
	<div class="container">
			<div class="box box-1">
				<div class="box-inner item-1"></div>
			</div>
			<div class="box box-2 hidden">
				<div class="box-inner item-2"></div>
			</div>
			<div class="box box-3 hidden">
				<div class="box-inner item-3"></div>
			</div>
			<div class="box box-4 hidden">
				<div class="box-inner item-4"></div>
			</div>
			<div class="box box-5 hidden">
			</div>
			<div class="box box-6 hidden desk-show">
			</div>
			<div class="box box-7 hidden desk-show">
			</div>
			<div class="box box-gif hidden">
				<img src="./images/animation.gif" class="box-inner item-gif" alt="work demonstration" loading="lazy">
			</div>
			<div class="hero-logo">
				<svg class="logo">
					<use href="./images/icons.svg#icon-logo"></use>
				</svg>
			</div>
	</div>
</section>

