<section class="liftCapacity">
	<div class="container">
		<h2 class="subjects">LIFT CAPACITY</h2>
		<div class="overlay">
			<div class="overlay-inner">
				<div class="liftCapacity-text">
					<div class="crane-photo" data-modal-open>
						<img src="./images/lift-a.jpg" alt="bridge crane" class="img">
					</div>
					<ul class="list">
						<li class="item">Five cranes capasity 10t</li>
						<li class="item">Lifting capasity one detail 30t</li>
						<li class="item">Use of additional eguipment</li>
					</ul>
				</div>
			</div>
			<ul class="liftCapacity-image list">
				<li class="liftCapacity-image-item" data-modal-open>
					<img src="./images/lift-b.jpg" alt="work place with cranes" class="img">
				</li>
				<li class="liftCapacity-image-item" data-modal-open>
					<img src="./images/lift-c.jpg" alt="lifting one detail" class="img">
				</li>
				<li class="liftCapacity-image-item" data-modal-open>
					<img src="./images/lift-d.jpg" alt="additional equipment" class="img">
				</li>
			</ul>
		</div>
		


	</div>


</section>