<section class="liftCapacity" id="liftCapacitySection">
	<div class="container">
		<h2 class="subjects">LIFT CAPACITY</h2>
		<div class="overlay">
			<div class="overlay-inner">
				<div class="liftCapacity-text">
					<div class="crane-photo container-hover"  data-modal-open>
						<img src="./images/lift1.png" alt="bridge crane" class="img js-img" loading="lazy">
						<div class="inner-block-hover"></div>
					</div>
					<ul class="list">
						<li class="item">Five cranes capasity 10t</li>
						<li class="item">Lifting capasity one detail 30t</li>
						<li class="item">Use of additional eguipment</li>
					</ul>
				</div>
			</div>
			<ul class="liftCapacity-image list">
				<li class="liftCapacity-image-item container-hover"  data-modal-open>
					<img src="./images/lift2.png" alt="work place with cranes" class="img js-img" loading="lazy">
					<div class="inner-block-hover"></div>
				</li>
				<li class="liftCapacity-image-item container-hover"  data-modal-open>
					<img src="./images/lift3.png" alt="lifting one detail" class="img js-img" loading="lazy">
					<div class="inner-block-hover"></div>
				</li>
				<li class="liftCapacity-image-item container-hover"  data-modal-open>
					<img src="./images/lift4.png" alt="additional equipment" class="img js-img" loading="lazy">
					<div class="inner-block-hover"></div>
				</li>
			</ul>
		</div>
	</div>
</section>