<section class="capacity">
	<div class="container">
			<h2 class="subjects">Production Capacity</h2>
			<div class="capacity-list-container">
				<h3 class="list-title">The turnover of Rikona Keevitus OÜ was:</h3>
				<div class="wrapper">
					<ul class="list">
						<li class="item">2011 - 1,635,006.43 eur</li>
						<li class="item">2012 - 2,307,856.80 eur</li>
						<li class="item">2013 - 1,950 360.48 eur</li>
						<li class="item">2014 - 1,639,441.90 eur</li>
						<li class="item">2015 - 3,009,531.36 eur</li>
						<li class="item">2016 - 2,087,288.44 eur</li>
						<li class="item">2017 - 2,989,616.12 eur</li>
						<li class="item">2018 - 2,951,984.33 eur</li>
						<li class="item">2019 - 3,121,651.20 eur</li>
						<li class="item">2020 - 1,566,065.56 eur</li>
						<li class="item">2021 - ...loading</li>
					</ul>
				</div>
				<div class="image-wrapper container-hover">
					<img src="./images/cont.png" class="img" alt="photo shows workers" data-modal-open>
					<div class="inner-block-hover"></div>
				</div>
		</div>

</section>
