<section class="references">
  <div class="container">
    <div class="references-gallery">
      <p class="references-subjects">references</p>
      <div class="references-card">
        <div class="references-card-image-a">
          <img
            class="references-card-img"
            src="./images/reference-1-2x.jpg"
            alt="rikona-gallery-image-1"
          />
        </div>
        <div class="references-card-image-b">
          <img
            class="references-card-img"
            src="./images/reference-5-2x.jpg"
            alt="rikona-gallery-image-2"
          />
        </div>
        <div>
          <img
            class="references-card-img"
            src="./images/reference-2-2x.jpg"
            alt="rikona-gallery-image-3"
          />
        </div>
        <div>
          <img
            class="references-card-img"
            src="./images/reference-3-2x.jpg"
            alt="rikona-gallery-image-4"
          />
        </div>
        <div class="references-card-image-c">
          <img
            class="references-card-img"
            src="./images/reference-4-2x.jpg"
            alt="rikona-gallery-image-5"
          />
        </div>
        <div>
          <img
            class="references-card-img"
            src="./images/reference-6-2x.jpg"
            alt="rikona-gallery-image-6"
          />
        </div>
        <div>
          <img
            class="references-card-img"
            src="./images/reference-7-2x.jpg"
            alt="rikona-gallery-image-7"
          />
        </div>
        <div class="references-card-image-d">
          <img
            class="references-card-img"
            src="./images/reference-8-2x.jpg"
            alt="rikona-gallery-image-8"
          />
        </div>
      </div>
    </div>
  </div>
</section>
