<section class="references" id="referenceSection">
  <div class="container">
    <div class="references-gallery">
      <p class="references-subjects">references</p>
      <div class="references-card">
        <div class="references-card-image-a container-hover" data-modal-open>
          <img
            class="references-card-img js-img"
            src="./images/reference-1-2x.jpg"
            alt="rikona-gallery-image-1"
          />
          <div class="inner-block-hover"></div>
        </div>
        
        <div class="references-card-image-b container-hover"  data-modal-open>
          <img
            class="references-card-img js-img"
            src="./images/reference-5-2x.jpg"
            alt="rikona-gallery-image-2"
          />
          <div class="inner-block-hover"></div>
        </div>
        <div class="container-hover" data-modal-open>
          <img
            class="references-card-img js-img"
            src="./images/reference-2-2x.jpg"
            alt="rikona-gallery-image-3"
          />
          <div class="inner-block-hover"></div>
        </div>
        <div class="container-hover" data-modal-open>
          <img
            class="references-card-img js-img"
            src="./images/reference-3-2x.jpg"
            alt="rikona-gallery-image-4"
          />
          <div class="inner-block-hover"></div>
        </div>
        <div class="references-card-image-c container-hover" data-modal-open >
          <img
            class="references-card-img js-img"
            src="./images/reference-4-2x.jpg"
            alt="rikona-gallery-image-5"
          />
          <div class="inner-block-hover"></div>
        </div>
        <div class="container-hover" data-modal-open>
          <img
            class="references-card-img js-img"
            src="./images/reference-6-2x.jpg"
            alt="rikona-gallery-image-6"
          />
          <div class="inner-block-hover"></div>
        </div>
        <div class="container-hover" data-modal-open>
          <img
            class="references-card-img js-img"
            src="./images/reference-7-2x.jpg"
            alt="rikona-gallery-image-7"
          />
          <div class="inner-block-hover"></div>
        </div>
        <div class="references-card-image-d container-hover"  data-modal-open>
          <img
            class="references-card-img js-img"
            src="./images/reference-8-2x.jpg"
            alt="rikona-gallery-image-8"
          />
          <div class="inner-block-hover"></div>
        </div>
      </div>
    </div>
  </div>
</section>
