<section class="staff" id="staffSection">
  <div class="container container-padding staff-container">
    <div class="staff-desctop-image container-hover"  data-modal-open>
      <img class="staff-desctop-img js-img" src="./images/staff1.png" alt="staff-a"/>
      <div class="inner-block-hover"></div>
    </div>
    <div class="staff-card">
      <h2 class="staff-subject subjects">staff</h2>
      <div class="staff-text">
        <ul class="staff-list">
          <li>Manager 3 persons</li>
          <li>
            Welders 12 persons (certificate DNV GL, Lloyds register, EN ISO
            9606-1 111,135,136)
          </li>
          <li>cutting machine operator 2 persons</li>
          <li>Fitter 10 persons</li>
          <li>Painter 4 persons</li>
        </ul>
      </div>
    </div>
    <div class="staff-desctop-image container-hover" data-modal-open>
      <img class="staff-desctop-img js-img" src="./images/staff2.png" alt="staff-b"/>
      <div class="inner-block-hover"></div>
    </div>

    <div class="staff-image-container">
      <div class="staff-image staff-image-absolute-a  container-hover"  data-modal-open>
        <img
          class="staff-img staff-image-absolute-a js-img"
          src="./images/staff1.png"
          alt="staff-a"
        />
        <div class="inner-block-hover"></div>
      </div>

      <div class="staff-image staff-image-absolute-b container-hover" data-modal-open>
        <img
          class="staff-img staff-image-absolute-b  js-img"
          src="./images/staff2.png"
          alt="staff-b"
        />
        <div class="inner-block-hover"></div>
      </div>
    </div>
  </div>
</section>